.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgb(101, 101, 101);
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 10;
    top: 0;
}

.header img{
    width: 20%;
    padding: 2%;
    margin-left: -4%;
}

.header nav{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width: 50%;
    margin-right: 5%;
}

.header a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin-left: 4%;
    text-transform: uppercase;
}

@media (max-width: 1600px) {
    .header img{
        width: 50%;
        padding: 5%;
        margin-left: 4%;
    }
    .header a{
        font-size: 2.5rem;
        margin-left: 2%;
    }
    .header nav{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .header img{
        width: 50%;
        padding: 5%;
        margin-left: 4%;
    }
    .header a{
        font-size: 2rem;
        margin-left: 2%;
    }
    .header nav{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1050px) {
    .header img{
        width: 50%;
        padding: 5%;
        margin-left: 4%;
    }
    .header a{
        font-size: 1.5rem;
        margin-left: 4%;
    }
    .header nav{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .header img{
        width: 50%;
        padding: 5%;
        margin-left: 6%;
    }
    .header a{
        font-size: 1.1rem;
        margin-left: 2%;
    }
    .header nav{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .header img{
        width: 40%;
        padding: 5%;
        margin-left: 4%;
    }
    .header a{
        font-size: 0.7rem;
        margin-left: 2%;
    }
    .header nav{
        width: 100%;
        justify-content: center;
    }
}
