.pagenotfound{
    align-items: center;    
    margin-top: 10%;
    text-align: center;
}

.pagenotfound img{
    width: 20%;
    margin-bottom: 5.1%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.pagenotfound h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.pagenotfound h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 4%;
}

@media (max-width: 768px) {
    .pagenotfound img{
        width: 60%;
        margin-block: 40%
    }
    .pagenotfound h1{
        font-size: 2rem;
    }
    .pagenotfound h2{
        font-size: 1.5rem;
    }

    .pagenotfound{
        margin-top: 20%;
    }
}

@media (max-width: 1200px) {
    .pagenotfound img{
        width: 50%;
        margin-block: 20%
    }
    .pagenotfound h1{
        font-size: 1.5rem;
    }
    .pagenotfound h2{
        font-size: 1.2rem;
    }

    .pagenotfound{
        margin-top: 20%;
    }
}