.recomendacoes {
    align-items: center;
    text-align: center;
    margin-top: -4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recomendacoes > a {
    margin: 1%; /* Margem de 1% em todos os lados */
    text-decoration: none;
}

.cardContainer { /* Novo contêiner para a imagem e o título */
    position: relative; /* Permite que o título seja posicionado sobre a imagem */
}

.recomendacoes img {
    width: 55vh;
    height: 35vh;
    border-radius: 20px;
}

.recomendacoes img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
